# \myclub_site\templates\base.html
<!doctype html>
<html>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Apollo</a>
      <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Username" aria-label="Search" style="border-radius:20px; border-color:#007BFF; color:#9cccff !important">
        <div>
          <br>
          <input class="form-control mr-sm-2" type="search" placeholder="Password" aria-label="Search" style="border-radius:20px; border-color:#007BFF; color:#9cccff !important">
          <a style="font-size:10px; color:#007BFF"><br>&nbsp&nbsp&nbsp&nbspForgot password?</a>
        </div>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="border-radius:20px">Log In</button>
      </form>
    </nav>

    <div class="container-fluid" style="height: 100% !important; margin-top: 30px; margin-bottom: 30px;">
      <div class="container-fluid" style=" color: #555">
        <div class="row">
          <div class="col-6" style = "background-color:#F0F9FF; height: 1500px padding:50px">
            <br><br><br><br>
            <h2 style="text-align:center; padding-bottom:30px">Welcome to Apollo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
          <div class="col-6" style ="height: 1500px padding:50px;text-align:center; ">
            <br><br><br><br>
            <h2 style="margin-bottom:-16px !important">Join Apollo</h2>
            <a style="font-size:10px; color:#007BFF"><br>By signing up, you agree to our Privacy Policy and Terms & Conditions</a><br><br>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="font-size:14px; border-radius:20px; margin-bottom:12px !important; width:350px">Sign up with Email</button><br>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="font-size:14px; border-radius:20px; margin-bottom:12px !important; width:350px">Sign up with Google</button><br>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="font-size:14px; border-radius:20px; margin-bottom:12px !important; width:350px">Sign up with Facebook</button><br>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>